body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('dance-party-background.jpg');
  background-size: cover;  
  font-size: 18px;
  font-family: 'Sarina', cursive;
}
.title {
  float: left;
  padding-left: 0.5em;
}
.addDancerButton {
  padding:5px 12px;
  float: right;
  color: white;
}
.topbar{
  height:32px;
  background-color: #173895;
}
.title{
  background-color: #173895;
  color: white;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}